@import url('root.css');

.wrap-collapsible {
    margin-left: auto;
    margin-right: auto;
}

/* Dropdown styling */
.toggle {
    display: none;
}

.lbl-toggle {
    display: block;
    font-size: 1.5rem;
    text-align: center;
    padding: 0.3rem;
    width:98%;
    margin-top: var(--margin-small);
    margin-left: auto;
    margin-right: auto;
    color: rgba(0, 0, 0, 0.596);
    background: #00b7ffd5;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: all 0.25s ease-out;
    border-bottom: 0.25rem solid rgba(0, 0, 0, 0.295);
}

.lbl-toggle:hover {
    color: #FFF;
}

.lbl-toggle[disabled="true"]:hover {
    color: rgba(0, 0, 0, 0.596);
}

.lbl-toggle[disabled="true"] {
    background: #5a5a5ad5;
    cursor: default;
}

.lbl-toggle::before {
    content: ' ';
    display: inline-block;
    border-top: 0.45rem solid transparent;
    border-bottom: 0.45rem solid transparent;
    border-left: 0.45rem solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-.14rem);
    transition: transform .2s ease-out;
}

.toggle:checked+.lbl-toggle::before {
    transform: rotate(90deg) translateX(-.14rem);
}

.collapsible-content {
    background: rgba(68, 171, 255, 0.2);
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    height: fit-content;
    max-height: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 99.5%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    transition: max-height .35s ease-in-out;
}

.collapsible-column {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 49%;
    flex-wrap: nowrap;
    flex-direction: column;
    transition: all .25s ease-in-out;
    height: fit-content;
}

@media(max-width: 850px) {
    .collapsible-content {
        flex-direction: column;
    }

    .collapsible-column {
        width: 90%;
    }
}

.column-item {
    height: fit-content;
}

.dual-row {
    display: flex;
    margin: 0.1rem;
    height: fit-content;
    max-width: 95%;
    flex-direction: row;
}

.toggle:checked+.lbl-toggle+.collapsible-content {
    max-height: 50em;
    height: fit-content;
}

.toggle:checked+.lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
    
    border-bottom: 0.15rem solid rgba(0, 105, 255, .45);
    color:rgb(0, 0, 0);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: .5rem 1rem;
}

.collapsible-content p {
    margin-bottom: 0;
}