#lightConfig {
    display: flex;
    flex-direction: column;

    text-align: left;
}

@media(min-width: 700px) {
    #lightConfig {
        flex-direction: row;
    }
}

.controller-led {
    height: 14rem;
    width: auto;
}

.svgButtonClickable {
    cursor: pointer;
    stroke: rgba(128, 128, 128, 0);
    transition: stroke 0.25s ease-out, fill 0.25s ease-out;
}

.svgButtonClickable:hover {
    stroke: rgba(255, 255, 255, 0.521);
    transition: stroke 0.25s ease-out, fill 0.25s ease-out;
}

.svgButtonClickable.active {
    stroke: rgba(255, 255, 255, 0.815);
    transition: stroke 0.25s ease-out, fill 0.25s ease-out;
}

#lightSidebar {
    padding: 2rem 1rem;
    flex-grow: 1;
}

#lightSidebar select {
    display: block;
}

#colorPicker {
    margin: 1rem 0;
    opacity: 1;
    display: flex;
    transition: opacity 0.25s ease-out;
}

#colorPicker:not(.enabled) {
    pointer-events: none;
    opacity: 0.5;
    transition: opacity 0.25s ease-out;
}

#hexBox {
    display: flex;
    gap: 0.5rem;
}

#lightHex {
    flex-grow: 1;
    font-size: 1.25rem;
    width: 10rem;
}
