.sora_radio_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ff71718a;
    width: fit-content;
    padding: 0 0.2rem;
    height: 3rem;
    margin-top: 0.55rem;
    margin-bottom: 0.55rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1.5rem;
    box-shadow: inset 0 0.15rem 0.15rem  0 rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-out;
}

input[type="radio"] {
    appearance: none;
    display: none;
}

.sora_radio_container label {
    font-family: inherit;
    font-size: 1.15rem;
    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;
    height: 2.3rem;

    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: center;
    border-radius: 1.5rem;
    overflow: hidden;
    transition: all 0.3s;
    cursor: pointer;
    color: #6e6e6edd;
}

input[type="radio"]:checked + label {
    margin-left: 0.15rem;
    margin-right: 0.15rem;
    width: fit-content;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #1e8fff91;
    color: #f1f3f5;
    box-shadow: 0.05rem 0.1rem 0.1rem 0 rgba(0,0,0,0.3);
    transition: all 0.3s;
    cursor: pointer;
}

input[type="radio"]:checked:disabled + label {
    background-color: #6e6e6e91;
    transition: all 0.3s;
    cursor: default;
}

input[type="radio"]:disabled + label {
    cursor: default;
}

@media screen and (max-width: 850px) {
    .sora_radio_container label {
        font-size: 0.9rem;
    }
}