:root {
  --margin-small: 0.25rem;
  --margin-normal: 1rem;
  --transparent-bg: hsla(0, 61%, 32%, 0.555);
  --blur-amt: 10px;
  --border-radius: 5rem;
  --box-shadow: inset 0 0.15rem 0.15rem  0 rgba(0, 0, 0, 0.15);
  --button-color-active: #ee6b00d5;
  --sub-button-color-active: #ffc037d5;
  --button-color-disabled: #5a5a5ad5;
  --button-text-idle: rgba(0, 0, 0, 0.596);
  --button-text-hover: #FFF;
  --dropdown-color: rgba(255, 153, 113, 0.521);
  --mobile-page-width: 850px;

  --gradient-one: #000000;
  --gradient-two: #411212;
  --gradient-three: #6d2b1b;
  --gradient-four: #000000;
}

@keyframes fadeIn {
  from {
          opacity: 0;
      }
  to  {
          opacity: 1;
      }
  }

  @keyframes fadeOut {
      from {
              opacity: 1;
          }
      to  {
              opacity: 0;
          }
  }
