:root {
  --margin-small: 0.25rem;
  --margin-normal: 1rem;
  --transparent-bg: hsla(263, 71%, 73%, 0.336);
  --blur-amt: 10px;
  --border-radius: 5rem;
  --box-shadow: inset 0 0.15rem 0.15rem  0 rgba(0, 0, 0, 0.15);
  --button-color-active: #ec5858d5;
  --sub-button-color-active: #ffc037d5;
  --button-color-disabled: #5a5a5ad5;
  --button-text-idle: rgba(0, 0, 0, 0.596);
  --button-text-hover: #FFF;
  --dropdown-color: rgba(255, 136, 136, 0.521);
  --mobile-page-width: 850px;

  --gradient-one: #d31f1f;
  --gradient-two: #2ee078;
  --gradient-three: rgb(17, 118, 136);
  --gradient-four: #6a20be;
}

@keyframes fadeIn {
  from {
          opacity: 0;
      }
  to  {
          opacity: 1;
      }
  }

  @keyframes fadeOut {
      from {
              opacity: 1;
          }
      to  {
              opacity: 0;
          }
  }
