@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

* {
    margin: 0;
    padding: 0;
}

/* STUFF FOR JS ESP32 WEB DIALOGUE */


/*END STUFF*/

html {
    position: relative;
    min-height: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    font-family: 'Exo', sans-serif;
    background: linear-gradient(-45deg, #fc6537, #e73c3c, #1b5bd3, #23d57c);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

    overflow-x: hidden;
    margin: 0;
    position: relative;
    min-height: 100%;
    height: auto;
    z-index: 0;

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.context {
    margin: 0 auto;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 6rem;
    text-align: center;
    
    z-index: 0;
}

.box {
    width: 40rem;
    border-radius: 2rem;
    background-color: hsla(0, 0%, 100%, 0.555);
    color: rgb(0, 0, 0);
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    text-align: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    
    background-color: hsla(0, 0%, 100%, 0.555);
    color: rgb(0, 0, 0);
    padding: 1rem;
    font-size: 1rem;
    
    z-index: 0;
}

.button {
    z-index: 0;
    font-size: 1.25rem;
}

.context img {
    border-radius: 1rem;
    margin: 1rem;
    width: 40rem;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 0.25rem solid rgba(0, 0, 0, 0.45);
}

.context h1 {
    text-align: center;
    color: #fff;
    font-size: 3rem;
}

.context h2 {
    text-align: center;
    color: rgba(0, 0, 0, 0.596);
    font-size: 1.65rem;
}

.context h3 {
    text-align: center;
    color: rgba(0, 0, 0, 0.596);
    font-size: 1.75rem;
}

.context p {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 1.25rem;
}

/* Dropdown styling */
input[type='checkbox'] {
    display: none;
}

.wrap-collapsible {
    margin-top: 1rem;
    margin: 0, 0;
}

.lbl-toggle {
    display: block;
    font-size: 1.5rem;
    text-align: center;
    padding: 0.3rem;
    width:18rem;
    margin-left: auto;
    margin-right: auto;
    color: rgba(0, 0, 0, 0.596);
    background: #00b7ffd5;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: all 0.25s ease-out;
    border-bottom: 0.25rem solid rgba(0, 0, 0, 0.295);
}

.lbl-toggle:hover {
    color: #FFF;
}

.lbl-toggle::before {
    content: ' ';
    display: inline-block;
    border-top: 0.45rem solid transparent;
    border-bottom: 0.45rem solid transparent;
    border-left: 0.45rem solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-.14rem);
    transition: transform .2s ease-out;
}

.toggle:checked+.lbl-toggle::before {
    transform: rotate(90deg) translateX(-.14rem);
}

.collapsible-content {
    max-height: 0;
    width:18.55rem;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    transition: max-height .5s ease-in-out;
}

.toggle:checked+.lbl-toggle+.collapsible-content {
    max-height: 4.5rem;
}

.toggle:checked+.lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
    background: rgba(68, 171, 255, 0.2);
    border-bottom: 0.15rem solid rgba(0, 105, 255, .45);
    color:rgb(0, 0, 0);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: .5rem 1rem;
}

.collapsible-content p {
    margin-bottom: 0;
}

/* end dropdown styling */


.line {
    width: 30rem;
    height: 0;
    border: 2px solid #C4C4C4;
    fill: #C4C4C4;
    border-radius: 1rem;
    margin: 0.35rem;
    display: inline-block;
}

@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}