#progccColorSvg {
    margin-top: 1rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    flex-wrap: nowrap;
    flex-direction: column;
    transition: all .25s ease-in-out;
    min-height: 10rem;
}

#progccColorPicker {
    margin-top: 1rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    flex-direction: column;
    transition: all .25s ease-in-out;
    min-height: 10rem;
}

#lightConfig {
    display: flex;
    flex-direction: column;

    text-align: left;
}

@media(max-width: 850px) {
    #lightConfig {
        flex-direction: row;
    }

    #progccColorPicker {
        width: fit-content;
    }
}

/* Controller SVG Container class */
.controller-led {
    width: 100%;
    height: auto;
    max-width: 20rem;
    margin:auto;
    
}

.svgButtonClickable {
    cursor: pointer;
    stroke: rgba(128, 128, 128, 0);
    transition: stroke 0.25s ease-out, fill 0.25s ease-out;
}

.svgButtonClickable:hover {
    stroke: rgba(255, 255, 255, 0.521);
    transition: stroke 0.25s ease-out, fill 0.25s ease-out;
}

.svgButtonClickable.active {
    stroke: rgba(255, 255, 255, 0.815);
    transition: stroke 0.25s ease-out, fill 0.25s ease-out;
}

#lightSidebar {
    padding: 2rem 1rem;
    flex-grow: 1;
}

#lightSidebar select {
    display: block;
}

.IroColorPicker{
    margin-left: auto;
    margin-right: auto;
}

.IroBox {
    margin-left: auto;
    margin-right: auto;
}
.IroSlider {
    margin-left: auto;
    margin-right: auto;
}

#colorPicker {
    width: 100%;
    opacity: 1;
    cursor: pointer;
    transition: opacity 0.25s ease-out;
}

#colorPicker:not(.enabled) {
    pointer-events: none;
    opacity: 0.5;
    transition: opacity 0.25s ease-out;
}

#hexBox {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: var(--margin-small);
    margin-bottom: var(--margin-small);
}

#lightHex {
    margin-top: 0.75rem;
    margin-bottom: var(--margin-small);
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
}
