#lightConfig {
    display: flex;
    flex-direction: column;

    text-align: left;
}

@media(min-width: 700px) {
    #lightConfig {
        flex-direction: row;
    }
}

.controller {
    flex-grow: 5;

    border-bottom: none;
    margin: 2rem;
    height: fit-content;
    width: 70%;
    max-height: 50vh;
}

.controller .clickable {
    cursor: pointer;
}

.controller .clickable:hover {
    stroke: gray;
}

.controller .clickable.active {
    stroke: white;
}

#lightSidebar {
    padding: 2rem 1rem;
    flex-grow: 1;
}

#lightSidebar select {
    display: block;
}

#colorPicker {
    margin: 1rem 0;
    display: flex;
}

#colorPicker:not(.enabled) {
    pointer-events: none;
    opacity: 0.5;
}

#hexBox {
    display: flex;
    gap: 0.5rem;
}

#lightHex {
    flex-grow: 1;
    font-size: 1.25rem;
    width: 10rem;
}

