@import url('/css/root.css');

:root {
  --asize: 12rem;
  --a_min_size: 10rem;
}

.octagon {
  margin-top: var(--margin-small);
  margin-bottom: var(--margin-small);
  position: relative;
  background: rgba(255, 0, 0, 0.425);
  width: var(--asize);
  height: var(--asize);
  margin-left: auto;
  margin-right: auto;
  clip-path: polygon(50% 0%, 85.35534% 14.64466%, 100% 50%, 85.35534% 85.35534%, 50% 100%, 14.64466% 85.35534%, 0% 50%, 14.64466% 14.64466%);
  -webkit-clip-path: polygon(50% 0%, 85.35534% 14.64466%, 100% 50%, 85.35534% 85.35534%, 50% 100%, 14.64466% 85.35534%, 0% 50%, 14.64466% 14.64466%);
}

.circle {

  position: relative;
  background: rgba(255, 0, 0, 0.425);
  width: var(--asize);
  height: var(--asize);
  margin-top: var(--margin-small);
  margin-bottom: var(--margin-small);
  margin-left: auto;
  margin-right: auto;
  clip-path: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
}

@media screen and (max-width: 850px) {
  .octagon {
    width: var(--a_min_size);
    height: var(--a_min_size);
  }

  .circle {
    width: var(--a_min_size);
    height: var(--a_min_size);
  }
  
}

.inner-stick {
  position: absolute;
  background: rgba(255, 255, 255, 0.473);
  width: 95%;
  height: 95%;
  left: 2.5%;
  top: 2.5%;
  -webkit-clip-path: inherit;
  clip-path: inherit;
}



.analog-position {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.65rem;
  height: 0.65rem;
  border-radius: 50%;
  background: rgba(255, 0, 0, 0.829);
  transform: translate(-50%, -50%);
}

.analog-center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: rgba(108, 118, 255, 0.822);
  transform: translate(-50%, -50%);
}

.floatingAdjustment {
  border-radius: var(--border-radius);
  border-color: rgba(240, 255, 255, 0.075);
  text-align: center;
  background: var(--dropdown-color);
  box-shadow: var(--box-shadow);
  font-family: inherit;
  font-size: inherit;
  height: 2rem;
  width: 8.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}