#epilepsy-warning {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding:0.5rem;
    border-radius: 0.5rem;
    background-color: rgba(38, 185, 87, 0.658)
}

#epilepsy-warning p {
    color: rgb(39, 39, 39);
}

@keyframes display_in {
    0% {
        opacity: 0;
        height: 0;
        width: 0;
    }
    1% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes display_out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        height: 0;
        width: 0;
    }   
}

#cycle-color-div {
    display: flex;
    animation: display_in 0.5s ease-in-out;
}

#cycle-color-div[disabled] {
    animation: display_out 0.5s ease-in-out;
    pointer-events: none;
    opacity: 0;
    display: none;
}

#speed-color-div {
    display:flex;
    animation: display_in 0.5s ease-in-out;
}

#speed-color-div[disabled] {
    animation: display_out 0.5s ease-in-out;
    pointer-events: none;
    opacity: 0;
    display: none;
}

#user-color-div {
    display: contents;
    margin-left: auto;
    margin-right: auto;
    animation: display_in 0.5s ease-in-out;
}

#user-color-div[disabled] {
    display: none;
    pointer-events: none;
    opacity: 0;
    animation: display_out 0.5s ease-in-out;
}


#hojaColorSvg {
    margin-top: 1rem;
    display: flex;
    margin-left: 1%;
    width: 49%;
    flex-wrap: nowrap;
    flex-direction: column;
    transition: all .25s ease-in-out;
    min-height: 10rem;
}

#hojaColorPicker {
    margin-top: 1rem;
    display: flex;
    margin-right: 1%;
    width: 49%;
    flex-direction: column;
    transition: all .25s ease-in-out;
    min-height: 10rem;
}

#lightConfig {
    display: flex;
    flex-direction: column;

    text-align: left;
}

@media(max-width: 850px) {

    #hojaColorSvg {
        margin-left: auto;
        margin-right: auto;
        height: auto;
        width: 100%;
    }

    #lightConfig {
        flex-direction: row;
    }

    #hojaColorPicker {
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
    }

    .controller-led {
        height: auto;
        max-width: 25rem;
        margin:auto;
    }
}

/* Controller SVG Container class */
.controller-led {
    width: 100%;
    height: 100%;
}

.svgButtonClickable {
    cursor: pointer;
    stroke: rgba(128, 128, 128, 0);
    transition: stroke 0.25s ease-out, fill 0.25s ease-out;
}

.svgButtonClickable:hover {
    stroke: rgba(255, 255, 255, 0.521);
    transition: stroke 0.25s ease-out, fill 0.25s ease-out;
}

.svgButtonClickable.active {
    stroke: rgba(255, 255, 255, 0.815);
    transition: stroke 0.25s ease-out, fill 0.25s ease-out;
}

#lightSidebar {
    padding: 2rem 1rem;
    flex-grow: 1;
}

#lightSidebar select {
    display: block;
}

.IroColorPicker{
    margin-left: auto;
    margin-right: auto;
}

.IroBox {
    margin-left: auto;
    margin-right: auto;
}
.IroSlider {
    margin-left: auto;
    margin-right: auto;
}

#colorPicker {
    width: 100%;
    opacity: 1;
    cursor: pointer;
    transition: opacity 0.25s ease-out;
}

#colorPicker:not(.enabled) {
    pointer-events: none;
    opacity: 0.5;
    transition: opacity 0.25s ease-out;
}

#hexBox {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: var(--margin-small);
    margin-bottom: var(--margin-small);
}

#lightHex {
    margin-top: 0.75rem;
    margin-bottom: var(--margin-small);
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
}
