#hoja-top-row {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#offline-indicator {
    
    color: rgba(0, 0, 0, 0.596);
    max-height: 500px;
    width: fit-content;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    background: rgba(230, 23, 23, 0.541);
    border-radius: 1rem;
    display: block;
    border-radius: 0.5rem;
    margin-left: -0.25rem;
    transition: all 0.25s ease-in-out;
}

#offline-indicator[disabled="true"] {
    opacity: 0;
    max-height: 0;
}

.hwtest_c {
    height: 1rem;
    display: flex;
    width: 70%;
    margin-left: 25%;
    margin-bottom: 1rem;
}

.hwtest_c label {
    display: flex;
    margin-left: 1rem;
}

/* Hide the default checkbox */
.hwtest_c input[type="checkbox"] {
    display: none;
}

/* Style the custom checkbox */
.hwtest_c input[type="checkbox"]+label::before {
    content: " ";
    /* Unicode checkmark character */
    display: flex;
    width: 1rem;
    height: 1rem;
    border: 2px solid #000;
    background-color: #ffffff4d;
    text-align: center;
    line-height: 1.1rem;
    transition: all 0.25s ease-out;
    margin-right: 0.35rem;
}

/* Style when the checkbox is checked */
.hwtest_c input[type="checkbox"]:checked+label::before {
    content: "\2713";
    /* Unicode checkmark character */
    background-color: rgba(94, 94, 248, 0.425);
    transition: all 0.25s ease-out;
}

/* Style when the checkbox has 'failed' attribute */
.hwtest_c input[type="checkbox"][failed]+label::before {
    content: "X";
    /* Unicode cross character */
    background-color: rgba(248, 94, 94, 0.425);
    transition: all 0.25s ease-out;
    display: block;
    justify-content: center;
    align-items: center;
}



.invert_container {
    display: flex;
}

/* Hide the default checkbox */
.invert_container input[type="checkbox"] {
    display: none;
    transition: all 0.25s ease-out;
}

/* Style the custom checkbox */
.invert_container input[type="checkbox"]+label::before {
    content: " ";
    /* Unicode checkmark character */
    display: flex;
    width: 1rem;
    height: 1rem;
    border: 2px solid #000;
    background-color: #ffffff4d;
    text-align: center;
    line-height: 20px;
    margin: 1rem;
    transition: all 0.25s ease-out;
}

/* Style when the checkbox is checked */
.invert_container input[type="checkbox"]:checked+label::before {
    content: "\2713";
    /* Unicode checkmark character */
    background-color: rgba(94, 94, 248, 0.425);
    transition: all 0.25s ease-out;
}

#langButton {
    background: var(--sub-button-color-active);
    display:block;
    width: 4rem;
    height: 2rem;
    line-height: 1rem;
    text-align: center;
    margin-left: auto;
    margin-right: -0.25rem;
    margin-top: -0.25rem;
}

#fwButton {
    margin-left: auto;
    margin-right: auto;
}

#downloadLink {
    text-decoration: none;
}

#installButton {
    visibility: visible;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: repeating-linear-gradient(-20deg, rgb(255, 103, 103), rgb(255, 137, 172), rgb(207, 87, 255));
    background-blend-mode: lighten;
    transition: all 0.25s ease-out;
}

#installButton:disabled {
    visibility: hidden;
    display: none;
    margin-left: auto;
    margin-right: auto;
    background: repeating-linear-gradient(-20deg, rgb(255, 103, 103), rgb(255, 137, 172), rgb(207, 87, 255));
    background-blend-mode: lighten;
    transition: all 0.25s ease-out;
}

.snapback-visualizer {
    box-shadow: inset 0 0.15rem 0.15rem  0 rgba(0, 0, 0, 0.15); 
    background: rgba(186, 167, 255, 0.644);
    border-radius: 1rem;
    margin-top: 0.25rem;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 20rem;
    height: 12rem;
}

