#hoja-top-row {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#offline-indicator {
    color: rgba(0, 0, 0, 0.596);
    width: 8rem;
    background: rgba(230, 23, 23, 0.541);
    border-radius: 1rem;
    display: block;
    border-radius: 0.5rem;
    margin-left: -0.25rem;
}

#offline-indicator[disabled="true"] {
    display: none;
}

#langButton {
    background: var(--sub-button-color-active);
    display:block;
    width: 4rem;
    height: 2rem;
    line-height: 1rem;
    text-align: center;
    margin-left: auto;
    margin-right: -0.25rem;
    margin-top: -0.25rem;
}

#fwButton {
    margin-left: auto;
    margin-right: auto;
}

#downloadLink {
    text-decoration: none;
}

#installButton {
    visibility: visible;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: repeating-linear-gradient(-20deg, rgb(255, 103, 103), rgb(255, 137, 172), rgb(207, 87, 255));
    background-blend-mode: lighten;
    transition: all 0.25s ease-out;
}

#installButton:disabled {
    visibility: hidden;
    display: none;
    margin-left: auto;
    margin-right: auto;
    background: repeating-linear-gradient(-20deg, rgb(255, 103, 103), rgb(255, 137, 172), rgb(207, 87, 255));
    background-blend-mode: lighten;
    transition: all 0.25s ease-out;
}

.snapback-visualizer {
    box-shadow: inset 0 0.15rem 0.15rem  0 rgba(0, 0, 0, 0.15); 
    background: rgba(186, 167, 255, 0.644);
    border-radius: 1rem;
    margin-top: 0.25rem;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 20rem;
    height: 12rem;
}

