.picker-container {
    width: 300px;
    display: flex;

    gap: 2px;

    color: var(--color-text-tertiary);
    height: var(--button-h);

    background-color: var(--color-p1);
    border: var(--spacing-xs) solid var(--color-p1-dark);
    border-radius: var(--border-radius-md);

    overflow: hidden;

    align-items: center;
    text-align: center;
}

.group-name {
    user-select: none;
    text-align: left;
    margin-left: 8px;
    flex: 1;
    font-size: var(--font-size-md);
    font-weight: bold;
}

.pound {
    user-select: none;
    font-size: var(--font-size-md);
    color: var(--color-text-tertiary);
    display: flex;
    padding-left: 4px;
    height: inherit;
    text-align: center;
    align-items: center;
    text-justify: auto;
    border-left: var(--spacing-xs) solid var(--color-p1-light);

    font-size: var(--font-size-md);
}

.color-hex {
    background: var(--color-p1);
    border-radius: var(--border-radius-sm);

    width: 70px;
    color: var(--color-text-tertiary);
    padding: 4px;
    text-align: center;
    font-size: var(--font-size-md);
    border: none;

    transition: all var(--transition-quick);
}

.color-hex:focus {
    outline: none;
    filter:  brightness(1.1);
    box-shadow: var(--box-shadow-outset);
}

.color-hex:hover {
    filter: brightness(1.1);
}

.color-hex::selection {
    background-color: var(--color-p1-dark);
}

.color-wrapper {
    box-shadow: var(--box-shadow-inset);
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: rgb(241, 184, 184);
    border-radius: var(--border-radius-md);
    width: var(--button-h);
    height: var(--button-h);
    transition: all var(--transition-quick);
}

.color-picker {
    margin-right: 0;
    opacity: 0;
    appearance: none;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-md);
    border: none;
    cursor: pointer;
}
