:host {
    background-color: var(--color-background-light);
    height: var(--config-box-height);
    border-radius: var(--border-radius-md);
    display: flex;
    align-items: center;
    width: var(--config-box-width-min);
    max-width: var(--config-box-width-max);
    overflow: hidden;
}