.input-mapping-container {
    border-radius: var(--border-radius-md);
    padding: 8px;
    cursor: pointer;
    background-color: var(--color-p1);
    border: 2px solid var(--color-p1-dark);
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 85px;
    height: 60px;
    height: auto;

    justify-self:center;
    
    /* Prevent text selection */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mapping-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1px;
    height: 30px;
}

.input-circle {
    width: 30px;
    height: 30px;
    border: 2px solid var(--background-high);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-highest);
    flex-shrink: 0;
}

.input-text {
    font-weight: 400;
    font-size: 18px;
    color: var(--color-text-primary);
}

.arrow {
    font-size: 20px;
    font-weight: bold;
    color: black;
    flex-shrink: 0;
}

.output-square {
    width: 30px;
    height: 30px;
    border: 2px solid var(--background-high);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-highest);
    flex-shrink: 0;
}

.output-text {
    font-weight: 400;
    font-size: 18px;
    color: var(--color-text-primary);
}

.value-bar-container {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}

.value-bar {
    width: 100%;
    height: 20px;
    background-color: var(--background-highest);
    border: 2px solid var(--background-high);
    border-radius: 10px;
    position: relative;
    overflow: visible;
}

.value-indicator {
    width: 16px;
    height: 16px;
    background-color: var(--color-p4);
    border: 2px solid var(--color-p4-light);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: left 0.2s ease, background-color 0.3s ease;
    pointer-events: none;
}

.value-indicator.pressed {
    background-color: var(--color-p3);
    border: 2px solid var(--color-p3-light);
}