.mac-input-container {
    display: flex;
    /* align-content: center; */
    align-items: center;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;

    padding-left: 6px;
    padding-right: 6px;
    border-radius: var(--border-radius-md);
    height: var(--button-h);
    background-color: var(--color-p1);
    border: var(--spacing-xs) solid var(--color-p1-dark);
}

.mac-input {
    background-color: var(--color-p1);
    display:flex;
    width: 24px;
    text-align: center;
    font-family: monospace;
    padding: 2px;
    border:  var(--spacing-xs) solid var(--color-p1-light);
    border-radius: var(--border-radius-sm);
    font-size: 16px;
    text-transform: uppercase;

    transition: all var(--transition-quick);
}

.mac-input:hover {
    filter: brightness(1.1);
}


.mac-input::selection {
    background-color: var(--color-p1-dark);
}

.mac-input:focus {
    outline: none;
    filter:  brightness(1.1);
    box-shadow: var(--box-shadow-outset);
}

.separator {
    margin-left: 4px;
    margin-right: 4px;
    font-size: 16px;
    font-weight: bold;
    color: var(--color-text-tertiary);
    user-select: none;
}