.button-item {
    user-select: none;
    flex: 1;
    height: var(--config-box-height);
    text-align: center;
    align-content: center;
    cursor: pointer;
    background: var(--color-button-off);
    transition: all 0.3s;

    /* Prevent text selection */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button-item:hover {
    background: var(--color-button-off);
}

@media (hover: hover) {
    .button-item:hover {
        background: var(--color-button-off-hover);
    }
}

.button-item.active {
    box-shadow: var(--box-shadow-inset);
    background: var(--color-button-neutral);
    color: var(--color-text-secondary);
    font-weight: bold;
}
