.m-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: var(--button-h);
    width: fit-content;
    align-content: space-between;

    gap: 2px;

    background: var(--color-p1-grad);
    background-color: var(--color-p1);
    border: var(--spacing-xs) solid var(--color-p1-dark);

    box-sizing: border-box;
    border-radius: var(--border-radius-md);
}

.m-item {
    /* Default width that is overwritten */
    width: 60px;

    box-sizing: border-box;

    font-family: var(--font-family-primary);
    font-size: var(--font-size-md);

    color: var(--color-text-tertiary);
    height: calc(var(--button-h) - var(--spacing-md));
    align-content: center;
    text-align: center;
    margin:auto;
    cursor: pointer;

    border-radius: var(--border-radius-md);

    background-color: inherit;
    border: var(--spacing-xs) solid transparent;

    transition: all var(--transition-quick);

    /* Prevent text selection */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (hover: hover) {
    .m-item:hover:not(.active){
        filter:brightness(1.1);
        transition: all 0.1s ease-in-out;
    }
}

.m-item.active {
    
    border-radius: var(--border-radius-md);

    background: var(--color-p3-grad);
    background-color: var(--color-p3);
    border: var(--spacing-xs) solid var(--color-p3-dark);
}
