.multi-position-button {
    background-color: var(--color-background-light);
    max-width: var(--config-box-max-width-medium);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--config-box-height);
    border-radius: var(--border-radius-md);
    overflow: hidden;
}

.button-item {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    background: var(--color-button-off);
    border-right: 3px solid var(--color-background-dark);
    transition: background 0.3s;
}

.button-item:hover {
    background: var(--color-button-off-hover);
}

.button-item:last-child {
    border-right: none;
}

.button-item.active {
    background: var(--color-button-neutral);
    color: var(--color-text-secondary);
    font-weight: bold;
}
.button-item.active:hover {
    background: var(--color-button-neutral-hover);
}

