.remap-selector {
    background-color: var(--color-background-light);
    height: var(--config-box-height);
    border-radius: var(--border-radius-md);
    max-width: var(--config-box-max-width-medium);
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
}

.button-capture,
.button-clear,
.button-reset {
    border: none;
    min-width: var(--config-box-height);
    align-items: center;
    justify-content: center;
    height: inherit;
    line-height: var(--config-box-height);
    display: flex;
    
    cursor: pointer;
    font-size: var(--font-size-md);
    color: rgb(66, 66, 66);
    transition: background-color var(--transition-quick);
}

.button-capture
{
    margin-left: 0;
    background: var(--color-button-on);
}

.button-clear
{
    margin-left: auto;
    background: var(--color-button-off);
}

.button-reset
{
    margin-right: 0;
    background: var(--color-button-neutral);
}

.button-capture:hover
{
    background-color: var(--color-button-on-hover);
}

.button-reset:hover

{
    background-color: var(--color-button-neutral-hover);
}

.button-clear:hover
{
    background: var(--color-button-off-hover);
}

.even-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
}

.label {
    font-size: 1rem;
    font-weight: bold;
    user-select: none;
}

.value-in,
.value-out {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background: var(--color-background-light);
    max-width: 5rem;
    height: inherit;
    text-align: center;
    font-size: 1.2rem;
    border: none;
    pointer-events: none; /* Prevents mouse interactions */
    
}

.value-in:read-only,
.value-out:read-only {
    color: #333;
}

.value-in:focus, 
.value-out:focus {
    outline: none;
}