:host {
    border:  var(--spacing-xs) solid var(--color-p1-light);
    background: var(--color-p1-grad);
    background-color: var(--color-p1);
    border-radius: var(--border-radius-md);

    height: 224px;
    
    display: flex;
    align-items: center;
    width: 340px;
    overflow: hidden;
}

/* sensor-visualization.css */
.sensor-visualization-container {
    width: 100%;
    height: 100%;
    position: relative;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.visualization-canvas {
    width: 100%;
    height: 100%;
    display: block;
}
