.single-shot-button {
    border: none;
    border-radius: var(--border-radius-md);
    cursor: pointer;
    transition: var(--transition-quick);
    font-weight: bold;
    min-width: 55px;
    height: var(--config-box-height);

    /* Prevent text selection */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.single-shot-button.state-ready {
    background-color: var(--color-button-on);
}
.single-shot-button.state-ready:hover {
    background-color: var(--color-button-on);
}

@media (hover: hover) {
    .single-shot-button.state-ready:hover {
        background-color: var(--color-button-on-hover);
    }
}

.single-shot-button.state-pending {
    background-color: var(--color-button-disabled);
    color: black; 
    cursor: wait;
}

.single-shot-button.state-disabled {
    background-color: var(--color-button-disabled);
    cursor: not-allowed;
}