.single-shot-button {
    border: none;
    border-radius: var(--border-radius-md);
    cursor: pointer;
    transition: var(--transition-quick);
    font-weight: bold;
    min-width: 120px;
    height: var(--config-box-height);
}

.single-shot-button.state-ready {
    background-color: var(--color-button-on);
}
.single-shot-button.state-ready:hover {
    background-color: var(--color-button-on-hover);
}

.single-shot-button.state-pending {
    background-color: var(--color-button-disabled);
    color: black; 
    cursor: wait;
}

.single-shot-button:disabled, .single-shot-button:disabled:hover {
    background-color: var(--color-button-disabled);
    cursor: not-allowed;
}