.text-entry-container {
    height: var(--button-h);
    display: flex;
    width: 300px;
    overflow: hidden;
    align-items: center;
    background-color: var(--color-p1-dark);
    border: var(--spacing-xs) solid var(--color-p1-dark);
    border-radius: var(--border-radius-md);
}



.text-input {
    
    height: var(--button-h);
    width: inherit;

    border: none;
    background: var(--color-p1);
    font-size: var(--font-size-md);
    text-align: center;
    outline: none;

    transition: all var(--transition-quick);
}

.text-input:focus {
    border-color: #007bff;
}

.text-input:hover {
    filter: brightness(1.1);
}

.text-input::selection {
    background-color: var(--color-p1-dark);
}

/* Placeholder styling */
.text-input::placeholder {
    color: var(--color-text-tertiary);
    font-style: italic;
    opacity: 0.8;
}