.tristate-button {
    /* Default width that is overwritten */
    width: 120px;

    min-width: fit-content;

    color: var(--color-text-tertiary);
    height: var(--button-h);
    align-content: center;
    text-align: center;
    cursor: pointer;

    font-size: var(--font-size-md);

    border-radius: var(--border-radius-md);
    transition: all var(--transition-quick);

    /* Prevent text selection */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (hover: hover) {
    .tristate-button.off:hover,
    .tristate-button.on:hover {
        filter: brightness(1.1);
        box-shadow: var(--box-shadow-outset);
        transform: translate(-1px, -1px);
        transition: all 0.1s ease-in-out;
    }
}

.tristate-button.off {
    background-color: var(--color-p3);
    border: var(--spacing-xs) solid var(--color-p3-dark);
}

.tristate-button.off-to-on {
    cursor: wait;
    background-color: var(--color-p2);
    border: var(--spacing-xs) solid var(--color-p2-dark);
}

.tristate-button.on {
    background-color: var(--color-p4);
    border: var(--spacing-xs) solid var(--color-p4-dark);
}

.tristate-button.on-to-off {
    cursor: wait;
    background-color: var(--color-p2);
    border: var(--spacing-xs) solid var(--color-p2-dark);
}

.tristate-button.disabled {
    cursor: not-allowed;
    background-color: var(--color-p5);
    border: var(--spacing-xs) solid var(--color-p5-dark);
}