.tristate-button {
    border: none;
    border-radius: var(--border-radius-md);
    cursor: pointer;
    transition: var(--transition-quick);
    font-weight: bold;
    min-width: 120px;
    height: var(--config-box-height);
}

.tristate-button.state-off {
    background-color: var(--color-button-on);
}
.tristate-button.state-off:hover {
    background-color: var(--color-button-on-hover);
}


.tristate-button.state-off-to-on-transitioning,
.tristate-button.state-on-to-off-transitioning {
    background-color: var(--color-button-disabled);
    color: black;
    cursor: wait;
}

.tristate-button.state-on {
    background-color: var(--color-button-off);
}
.tristate-button.state-on:hover {
    background-color: var(--color-button-off-hover);
}

.tristate-button:disabled, .tristate-button:disabled:hover {
    background-color: var(--color-button-disabled);
    cursor: not-allowed;
}