.tristate-button {
    /* Button Border */
    border: none;
    border-radius: var(--border-radius-md);

    cursor: pointer;

    /* Button Transition */
    transition: var(--transition-quick);

    /* Button Font */
    font-weight: bold;
    color: var(--color-text-tertiary);

    /* Button Sizings */
    min-width: var(--buton-w);
    height: var(--button-h);

    /* Prevent text selection */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

.tristate-button.state-off {
    background-color: var(--color-p3);
}
.tristate-button.state-off:hover {
    background-color: var(--color-p3);
}

@media (hover: hover) {
    .tristate-button.state-off:hover {
        background: var(--color-p3-light);
    }
}

.tristate-button.state-off-to-on-transitioning,
.tristate-button.state-on-to-off-transitioning {
    background-color: var(--color-p5);
    
    cursor: wait;
}

.tristate-button.state-on {
    background-color: var(--color-p4);
}
.tristate-button.state-on:hover {
    background-color: var(--color-p4-light);
}

@media (hover: hover) {
    .tristate-button.state-on:hover {
        background: var(--color-p5-light);
    }
}

.tristate-button:disabled, .tristate-button:disabled:hover {
    background-color: var(--color-p5);
    cursor: not-allowed;
}